.news-image{
    height: 320px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover
}

.news{
    width: 300px;
    height: 400px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

.search-box{
    margin-top: 25px;
    float: left;
    border: 1px solid black;
    height: 100%;
    padding: 15px;
    box-shadow: 5px 10px #888888;
}

.categories-container{
    margin-top: 30px;
    padding: 10px;
}

.content-news{
    position: relative;
}